# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
*.cover
.hypothesis/

# Логи
*.log
*.log.*

# Временные файлы
.DS_Store
Thumbs.db

# Статика (гистограммы)
static/model_devi/*.png
static/train_plots/*.png

# IDE
.vscode/
.idea/
*.swp
*.swo
